version: "3.7"
services:
  shadowsocks:
    image: shadowsocks/shadowsocks-libev
    container_name: shadowsocks
    environment:
      - PASSWORD=OWEzZjk2Nj
      - METHOD=chacha20-ietf-poly1305
    ports:
      - "19368:8388/tcp"
      - "19368:8388/udp"
    restart: unless-stopped
  ipsec-vpn-server:
    image: hwdsl2/ipsec-vpn-server
    container_name: vpn
    volumes:
      - ./vpnData:/etc/ipsec.d
    ports:
      - "500:500/udp"
      - "4500:4500/udp"
    cap_add:
      - NET_ADMIN
    devices:
      - "/dev/ppp:/dev/ppp"
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.accept_redirects=0
      - net.ipv4.conf.all.send_redirects=0
      - net.ipv4.conf.all.rp_filter=0
      - net.ipv4.conf.default.accept_redirects=0
      - net.ipv4.conf.default.send_redirects=0
      - net.ipv4.conf.default.rp_filter=0
      - net.ipv4.conf.eth0.send_redirects=0
      - net.ipv4.conf.eth0.rp_filter=0
    restart: unless-stopped